.container.project-name.text-uppercase.font-weight-bold
  %p.text-center
    = t('projects.timer.name')

.container.project.project-timer.center
  .btn-group.btn-group-justified
    = link_to fa_icon(:play), "#",
    class: 'btn btn-success btn-col-4', id: 'timer-play',
    remote: true
    = link_to fa_icon(:pause), "#",
    class: 'btn btn-warning btn-col-4', id: 'timer-pause',
    remote: true
    = link_to fa_icon(:repeat), "#",
    class: 'btn btn-info btn-col-4', id: 'timer-repeat',
    remote: true
  #timer
    #hour
      0
    &nbsp;:
    #minute
      0
    &nbsp;:
    #second
      15

  .timer-customise
    .input-group.bootstrap-timepicker.timepicker.time
      = text_field_tag('custom time', '',
      class: 'form-control input-small',
      id: 'timepicker')
      %span.input-group-addon
        %span.glyphicon.glyphicon-time
    = link_to fa_icon(:check), '#',
    class: 'btn btn-primary',
    id: 'timer-set',
    remote: true
