!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1.0"}
    %meta{'http-equiv'=>"X-UA-Compatible", 'content'=>"IE=edge"}
    %title= t('app.name')
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'logos/favicon.ico'
    = favicon_link_tag 'logos/photos-icon-32x32.png', sizes: '32x32'
    = favicon_link_tag 'logos/photos-icon-128x128.png', rel: 'apple-touch-icon'
  %body
    = render 'application/navbar_top'
    #wrapper
      = yield
    = render 'application/footer'
